.popup__input_dark{
    padding-bottom: 13px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    color: #CCCCCC;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.21;
}