@import url(./__image/place__image.css);
@import url(./__heading/place__heading.css);
@import url(./__info/place__info.css);
@import url(./__buttons/place__buttons.css);
@import url(./__someoflikes-button/place__someoflikes-button.css);
@import url(./__like-button/place__like-button.css);
@import url(./__like-button/_active/place__like-button_active.css);
@import url(./__delete-button/place__delete-button.css);
@import url(./__delete-button/_type/place__delete-button_hidden.css);
@import url(./__delete-button/_type/place__delete-button_visible.css);
@import url(./__image-button/place__image-button.css);

.place{
    width: 282px;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    
}