.places{
    width: 100%;
    max-width: 882px;
    margin: auto;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-gap: 21px 18px;
    justify-content: center;

}

@media screen and (max-width: 1200px) {
    .places{
        grid-template-columns: repeat(auto-fit, 282px);
        
    }
}