.popup__add-button_inactive{
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    color: rgba(0, 0, 0, 0.2);
    
}

.popup__add-button_inactive:hover{
    background-color: white;
}