.cover__add{
    width: 150px;
    height: 50px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    font-size: 0;
    background-color: #000000;
    background-image: url(../../../images/add-button.svg);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
}

.cover__add:hover{
    opacity: 0.6;
    transition: opacity 0.4s linear;
}

@media screen and (max-width: 767px) {
    .cover__add{
        margin-top: 36px;
        width: 100%;
        max-width: 282px;
    }
}

@media screen and (max-width: 425px) {
    .cover__add{
        background-size: 16px 16px;
    }
}