@media screen and (max-width: 425px) {
    .header__hidden-items_active{
        background-color:  #000000;
        padding-top: 40px;
        padding-bottom: 42px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 18px;
    }
}