@import url(./__image/cover__image.css);
@import url(./__heading/cover__heading.css);
@import url(./__heading-info/cover__heading-info.css);
@import url(./__subheading/cover__subheading.css);
@import url(./__profile/cover__profile.css);
@import url(./__edit/cover__edit.css);
@import url(./__add/cover__add.css);

.cover{
    width: 100%;
    max-width: 100%;
    max-width: 882px;
    margin: 0;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    padding: 36px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  

}

@media screen and (max-width: 920px) {
    .cover{
        padding: 36px 19px 0;
        
    }
}

@media screen and (max-width: 767px) {
    .cover{
        flex-direction: column;
        
    }
}